
@charset "UTF-8";

@font-face {
    font-family: "Harlow_Solid_Italic";
    src: url(./fonts/Harlow_Solid_Italic.woff) format("woff");
}

* {
    margin: 0;
    padding: 0;
}

/* menu navigation bar */
/* I would try to use scss for more architectural structure */

.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 6.5vh 25vh 0 25vh
}

nav .menu {
    position: relative;
    z-index: 2;
    color: #ffc8dd;
    font-size: 12px;
    font-family: gilroy, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

nav .menu::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background: #ffc8dd;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav .menu:hover::after {
    width: 100%;
}

.nav_social {
    position: relative;
    display: inline-block;
}

.nav_social_dropdown {
    position: absolute;
    top: -15px;
    left: -74%;
    width: 130px;
    background: rgba(109, 104, 117, 0.8);
    border-radius: 25px;
    visibility: hidden;
    transition: .4s;
    transition-timing-function: cubic-bezier(0,.89,.41,1);
    opacity: 0;
    transform: translateY(-10px);
    transform-origin: top;
}

.nav_social_dropdown::after {
    position: absolute;
    right: 28px;
    top: 15px;
    z-index: 1;
    width: 20px;
}

.nav_social_dropdown ul {
    padding-top: 50px;
    padding-bottom: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
}

.nav_social_dropdown li {
    padding: 10px 25px;
    margin: 5px 5px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translate(0, 20%);
    transition: .8s;
    transition-timing-function: cubic-bezier(0,.89,.41,1);
    border-radius: 50px;
}

.nav_social_dropdown li a {
    position: relative;
    z-index: 1;
    border-radius: 50px;
    text-decoration: none;
    color: #fffcf7;
    font-size: 12px;
    font-family: gilroy, sans-serif;
    text-transform: uppercase;
}


.nav_social:hover .nav_social_dropdown {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.nav_social:hover .nav_social_dropdown li {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: calc(var(--order) * 100ms);
}




/* cover */
.header {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: #353535;
    display: flex;
    justify-content: center;
}

@keyframes tracker_1{
    0%{transform: translateX(0)}
    100%{transform: translateX(calc(-240px * 9))}
}

@keyframes tracker_2{
    0%{transform: translateX(calc(-240px * 9))}
    100%{transform: translateX(0)}
}

.cover {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
}

.cover .top {
    position: absolute;
    z-index: 2;
    font-family: "Harlow_Solid_Italic";
    font-size: 120px;
    color: #353535;
    transform: rotate(-5deg);
}

.cover .down {
    position: absolute;
    z-index: 1;
    font-family: "Harlow_Solid_Italic";
    font-size: 125px;
    color: #f2e9e4;
    -webkit-text-stroke: 12px #f2e9e4;
    transform: rotate(-5deg);
}

.slider {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 90%;
    display: grid;
    overflow: hidden;
    margin-top: 70px;
}

.slider .track1 {
    animation: tracker_1 45s linear infinite;
    display: flex;
    width: calc(240px * 14);
}

.slider .track2 {
    animation: tracker_2 45s linear infinite;
    display: flex;
    width: calc(240px * 14);
}

.slider .slide{
    display: flex;
    align-items: center;
    padding: 20px;
    /* perspective: 100px; */
    border-radius: 20px;
}

.slide img{
    border-radius: 10px;
}

/* introduction */
.intro {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: #f2e9e4;

    display: flex;
    justify-content: center;
    align-items: center;
}

.koko {
    width: 240px;
    border-radius: 120px;
    margin: 20px;
}

.intro_texts {
    margin: 20px;
    font-family: gilroy,sans-serif;;
    line-height: 1.5;
    font-size: 15px;
}

.footer {
    width: 100%;
    background-size: cover;
    background-color: #f2e9e4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.link_icon {
    padding-bottom: 10px;
}

.link_icon a {
    width: 10px;
}



