@charset "UTF-8";

@font-face {
    font-family: "Harlow-Solid-Italic";
    src: url(../../fonts/Harlow-Solid-Italic.woff);
}

.cover {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: #f2e9e4;
    display: flex;
    justify-content: center;
}

.cover-container {
    min-height: 100vh;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.cover-container .cover-title-top {
    position: absolute;
    z-index: 2;
    max-width: 100vw;
    font-family: 'Harlow-Solid-Italic';
    font-size: 25vh;
    color: #353535;
    transform: rotate(-5deg);
}

.cover-container .cover-title-down {
    position: absolute;
    z-index: 1;
    font-family: 'Harlow-Solid-Italic';
    font-size: 27vh;
    color: #f2e9e4;
    transform: rotate(-5deg);
    font-weight: bolder;
}