@charset "UTF-8";

.about {
	width: 100%;
	background-size: cover;
	background-color: #f2e9e4;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.introduction-images-container {
	width: 100%;
	flex-basis: 28%;
	position: relative;
	justify-content: center;
	align-items: center;
	margin-right: 50px;
}

.introduction-images-container div {
	width: 75%;
	overflow: hidden;
	border-collapse: separate;
	border-radius: 30px;
}

.introduction-images-container div img {
	width: 105%;
	display: flex;
	justify-content: center;
	align-items: center;
	filter: saturate(0);
	transition: .4s;
}

.introduction-images-container div:hover img {
	filter: saturate(1);
}

.introduction-images-container div:nth-child(1) {
	top: -15%;
	left: 0;
	position: absolute;
	transform: rotate(-7deg);
}

.introduction-images-container div:nth-child(2) {
	position: relative;
	z-index: 2;
	transform: translate(16.6%, 0);
}

.introduction-images-container div:nth-child(3) {
	top: 15%;
	right: 0;
	position: absolute;
	transform: rotate(10deg);
	z-index: 2;
}