@charset "UTF-8";

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2e9e4;
}

.introduction-container {
  height: 60vh;
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introduction-text-container {
  width: 35%;
  text-align: center;
}

.introduction-text-container p {
  padding-left: 24%;
  font-size: 1.2vw;
  color: #313131;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: bold;
  color: #313131
}

.introduction-image-container {
  width: 60%;
  flex-basis: 32%;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.introduction-image-container div {
  width: 85%;
  overflow: hidden;
  border-collapse: separate;
  border-radius: 3vw;
  transition: .4s;
}

.introduction-image-container div img {
  width: 105%;
  display: flex;
  justify-content: center;
  align-items: center;
  filter: saturate(0);
  transition: .4s;
}

.introduction-image-container div:hover img {
  filter: saturate(1);
}

.introduction-image-container div:nth-child(1) {
  top: -14%;
  left: -18%;
  position: absolute;
}

.introduction-image-container div:nth-child(2) {
  position: relative;
  z-index: 2;
  transform: translate(12.6%, 0);
  top: 8px;
  left: 10px;
}

.introduction-image-container div:nth-child(3) {
  top: 18%;
  right: -30px;
  position: absolute;
  z-index: 2;
}
