
@charset "UTF-8";

@font-face {
    font-family: "Harlow_Solid_Italic";
    src: url(../fonts/Harlow_Solid_Italic.woff);
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/*
 * Setup the scrollbar type 
 */ 
body {
    overflow: overlay;
}

::-webkit-scrollbar {
	width: 12px;
}

::-webkit-scrollbar-thumb {   
	border-radius: 8px;
	background-color: #06d6a0;
    border: 3px solid transparent;
    background-clip: padding-box;
}

/*
 * The navigation bar setup
 * I would try to use scss to make it more architectural
 */
.navbar {
    position: fixed;
    width: 100%;
    z-index: 3;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 6.5vh 25vh 0 25vh
}

nav .navbar-options {
    position: relative;
    z-index: 2;
    color: #f4acb7;
    font-size: 12px;
    font-family: gilroy, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
}

nav .navbar-options::after {
    content: '';
    width: 0%;
    height: 1.5px;
    background: #f4acb7;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav .navbar-options:hover::after {
    width: 100%;
}

.navbar-social {
    position: relative;
    display: inline-block;
}

.navbar-social-dropdown {
    position: absolute;
    top: -15px;
    left: -74%;
    width: 130px;
    background: rgba(109, 104, 117, 0.8);
    border-radius: 25px;
    visibility: hidden;
    transition: .4s;
    transition-timing-function: cubic-bezier(0,.89,.41,1);
    opacity: 0;
    transform: translateY(-10px);
    transform-origin: top;
}

.navbar-social-dropdown::after {
    position: absolute;
    right: 28px;
    top: 15px;
    z-index: 1;
    width: 20px;
}

.navbar-social-dropdown ul {
    padding-top: 50px;
    padding-bottom: 8px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    list-style-type: none;
}

.navbar-social-dropdown li {
    padding: 10px 25px;
    margin: 5px 5px;
    position: relative;
    cursor: pointer;
    opacity: 0;
    transform: translate(0, 20%);
    transition: .8s;
    transition-timing-function: cubic-bezier(0,.89,.41,1);
    border-radius: 50px;
}

.navbar-social-dropdown li a {
    position: relative;
    z-index: 1;
    border-radius: 50px;
    text-decoration: none;
    color: #fffcf7;
    font-size: 12px;
    font-family: gilroy, sans-serif;
    text-transform: uppercase;
}

.navbar-social:hover .navbar-social-dropdown {
    pointer-events: all;
    visibility: visible;
    opacity: 1;
    transform: translate(0, 0);
}

.navbar-social:hover .navbar-social-dropdown li {
    opacity: 1;
    transform: translate(0, 0);
    transition-delay: calc(var(--order) * 100ms);
}

/*
 * Cover part of the website
 */
.header {
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: #353535;
    display: flex;
    justify-content: center;
}

@keyframes tracker_1{
    0%{transform: translateX(0)}
    100%{transform: translateX(calc(-240px * 9))}
}

@keyframes tracker_2{
    0%{transform: translateX(calc(-240px * 9))}
    100%{transform: translateX(0)}
}

.cover {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Harlow_Solid_Italic";
}

.cover .top {
    position: absolute;
    z-index: 2;
    font-family: "Harlow_Solid_Italic";
    font-size: 120px;
    color: #353535;
    transform: rotate(-5deg);
}

.cover .down {
    position: absolute;
    z-index: 1;
    font-family: "Harlow_Solid_Italic";
    font-size: 125px;
    color: #f2e9e4;
    -webkit-text-stroke: 12px #f2e9e4;
    transform: rotate(-5deg);
}

.slider {
    position: absolute;
    z-index: 1;
    margin: auto;
    width: 90%;
    display: grid;
    overflow: hidden;
    margin-top: 70px;
}

.slider .track1 {
    animation: tracker_1 45s linear infinite;
    display: flex;
    width: calc(240px * 14);
}

.slider .track2 {
    animation: tracker_2 45s linear infinite;
    display: flex;
    width: calc(240px * 14);
}

.slider .slide{
    display: flex;
    align-items: center;
    padding: 20px;
    /* perspective: 100px; */
    border-radius: 20px;
}

.slide img{
    border-radius: 10px;
}

/*
* The Introduction part
*/

.intro {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: #f2e9e4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

@keyframes blink {
      0%{opacity: 1}
     40%{opacity: 1}
     60%{opacity: 0}
    100%{opacity: 0}
}

/* The typing effect sentences */
.typing-container {
    margin: 20px;
    line-height: 1.5;
    color: #353535;
    font-size: 15px;
    font-family: gailroy, sans-serif;

    display: flex;
    text-align: center;
    justify-content: center;
    width: 30%;
}

.sentence {
    text-align: center;
}

.input-cursor {
    width: 1.5px;
    height: 19px;
    display: inline-block;
    background-color: #353535;
    margin-left: 4px;
    animation: blink .6s linear infinite alternate;
}

/* The about images */
.about_images {
    width: 100%;
    flex-basis: 28%;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.about_images div {
    width: 75%;
    overflow: hidden;
    border-collapse: separate;
    border-radius: 30px;
}

.about_images div img {
    width: 105%;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: saturate(0);
    transition: .4s;
}

.about_images div:hover img {
    filter: saturate(1);
}

.about_images div:nth-child(1) {
    top: -15%;
    left: 0;
    position: absolute;
    transform: rotate(-7deg);
}

.about_images div:nth-child(2) {
    position: relative;
    z-index: 2;
    transform: translate(16.6%, 0);
}

.about_images div:nth-child(3) {
    top: 15%;
    right: 0;
    position: absolute;
    transform: rotate(10deg);
    z-index: 2;
}