.transition {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 100;
    background-color: #ffcdb2;
    transition: .5s ease-out;
}

.transition.is-active {
    top: 0;
}